[Unit]
Description=PONK Glitter
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/srv/glitter
ExecStart=/srv/glitter/venv/bin/python /srv/glitter/src/ponk_glitter/server.py --port 8000 --host 0.0.0.0
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
