.gt-heatmap-0 {
    background-color: #6d6df7; /* Blue */
}

.gt-heatmap-1 {
    background-color: #6d7ef7; /* Slightly lighter blue */
}
.gt-heatmap-2 {
    background-color: #6d8ff7; /* Lighter blue */
}
.gt-heatmap-3 {
    background-color: #6da0f7; /* Light blue */
}
.gt-heatmap-4 {
    background-color: #6db2f7; /* Sky blue */
}
.gt-heatmap-5 {
    background-color: #6dc3f7; /* Pale blue */
}
.gt-heatmap-6 {
    background-color: #6dd4f7; /* Aqua */
}
.gt-heatmap-7 {
    background-color: #6de6f7; /* Light cyan */
}

.gt-heatmap-8 {
    background-color: #6df7f7; /* Cyan */
}
.gt-heatmap-9 {
    background-color: #6df7b2; /* Light green */
}
.gt-heatmap-10 {
    background-color: #6df76d; /* Green */
}
.gt-heatmap-11 {
    background-color: #b2f76d; /* Yellow-green */
}

.gt-heatmap-12 {
    background-color: #f7f76d; /* Yellow */
}
.gt-heatmap-13 {
    background-color: #f7d46d; /* Orange-yellow */
}
.gt-heatmap-14 {
    background-color: #f7b26d; /* Orange */
}
.gt-heatmap-15 {
    background-color: #f76d6d; /* Red */
}

/************************************************************/

.gt-context {
	display: None;
}

.glitter-token {
	display: inline-block;
}

.glitter-token > .gt-heatmap-0,
.glitter-token > .gt-heatmap-1,
.glitter-token > .gt-heatmap-2,
.glitter-token > .gt-heatmap-3,
.glitter-token > .gt-heatmap-4,
.glitter-token > .gt-heatmap-5,
.glitter-token > .gt-heatmap-6,
.glitter-token > .gt-heatmap-7,
.glitter-token > .gt-heatmap-8,
.glitter-token > .gt-heatmap-9,
.glitter-token > .gt-heatmap-10,
.glitter-token > .gt-heatmap-11,
.glitter-token > .gt-heatmap-12,
.glitter-token > .gt-heatmap-13,
.glitter-token > .gt-heatmap-14,
.glitter-token > .gt-heatmap-15 {
	display: inline-block;
	color: black;
	font-size: 1.2em;
}

.glittered-text {
	display: inline-block;
	position: relative;
}

.glitter-token{
	position: relative;
}

.gt-context {
	position: absolute;
	color: black;
	top: 1.3em;
	left: 0.6em;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	z-index: 1000;
}


li {
	color: black;
}


/* show gt-context when over of glitter-token inside that glittered-text */
.glitter-token:hover > .gt-context {
	display: block;
}

.glitter-token:hover {
	outline-color: black;
	outline-style: dashed;
	outline-width: 2px;
}
