<!DOCTYPE html>
<html>
	<head>
		<title>PONK: Glitter</title>
		<link rel="stylesheet" href="/pico.css">
		<link rel="stylesheet" href="/glitter.css">
	</head>
	<body>
		<main class="container">
			<article>
				<header>
					<h1><b>PONK:</b> Glitter</h1>
					<div class="grid">
						{% for color in range(16) -%}
						<div class="gt-heatmap-{{- color -}}"><span>&nbsp;</span></div>
						{% endfor -%}
					</div>
				</header>
				<section>
					<form action="/" method="post">
						<div class="grid">
							<div>
								<label for="model">Choose a language model:</label>
								<select name="model" id="model">
									{% for model in models -%}
										<option value="{{ model }}" {% if model == selected_model -%}selected{%- endif -%}>
											{{- model -}}
										</option>
									{% endfor -%}
								</select>
							</div>
							<div>
								<label for="color_mode">Choose a color mode:</label>
								<select name="color_mode" id="color_mode">
									{% for color_mode in color_modes -%}
										<option value="{{ color_mode }}" {% if color_mode == selected_color_mode -%}selected{%- endif -%}>
											{{- color_mode.capitalize() -}}
										</option>
									{% endfor -%}
								</select>
							</div>
						</div>
						<label for="text_to_glitter">Text to glitter:</label>
						<textarea name="text_to_glitter" placeholder="Text to glitter.." aria-label="Text to glitter">{{text_to_glitter}}</textarea>
						<input type="submit" value="glitter">
					</form>
				</section>
				{% if glittered_text %}
				<section>
					{{ glittered_text|safe }}
				</section>
				{% endif %}
				<footer>
					<p> Glitter was created as a part of the
						<a href="https://ufal.mff.cuni.cz/grants/ponk">PONK project</a> at the
						<a href="https://ufal.mff.cuni.cz">Institute of Formal and Applied Linguistics</a> at the
						<a href="https://cuni.cz">Charles University</a> in Prague.
					</p>
				</footer>
			</article>
		</main>
	</body>
</html>
